<?xml version="1.0"?>
<config>
  <modules>
    <Sparx_Fblikebox>
      <version>0.1.0</version>
    </Sparx_Fblikebox>
  </modules>
  <frontend>
    <routers>
      <fblikebox>
        <use>standard</use>
          <args>
            <module>Sparx_Fblikebox</module>
            <frontName>fblikebox</frontName>
          </args>
      </fblikebox>
    </routers>
		<layout>
		  <updates>
			<fblikebox>
			  <file>fblikebox.xml</file>
			</fblikebox>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <fblikebox>
        <class>Sparx_Fblikebox_Helper</class>
      </fblikebox>
    </helpers>
	<blocks>
	  <fblikebox>
		<class>Sparx_Fblikebox_Block</class>
	  </fblikebox>
	</blocks>
	<models>
	  <fblikebox>
		<class>Sparx_Fblikebox_Model</class>
	  </fblikebox>
	</models>
  </global>
  <default>
        <fblikebox>
            <general>
                <enable>1</enable>
                <left>1</left>
                <right>0</right>
                <!--fbpageurl>https://www.facebook.com/csschopper/</fbpageurl-->
                <colorscheme>1</colorscheme>
                <force_wall>0</force_wall>
                <header>1</header>
                <height>290</height>
                <href>https://www.facebook.com/csschopperfanpage</href>                
                <show_border>1</show_border>
                <show_faces>1</show_faces>
                <stream>0</stream>
                <width>193</width>
            </general>
        </fblikebox>
  </default>
</config> 
